.deleteBtn {
	margin-left: auto;
}

.todoItem {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 320px;
	margin: 20px auto;
	border: 1px solid black;
	padding: 20px;
	word-break: break-all;
}