.todoer {
	width: 100%;
	font-size: 80px;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	margin: 50px auto 10px;
	color:rgb(255, 255, 255);
	text-align: center;
	text-shadow: 4px 4px 5px black;
}

.footer {
	margin: 65px auto 0;
	text-align: center;
	color: white;
}

.footer a{
	color: white;
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
}